body {
  background-color: #EDE7E3;
  counter-reset: section;
}
h2::before {
    counter-increment: section;
    content: counter(section) ": ";
}
h1 {
  color: white;
}

p{
    font-size: 15px;
}

.pageHeding_find{
    width: 100%;
    background: #489FB5;
}

.pageHeding_doTest {
    width: 100%;
    padding: 1.4% 0;
    background: #489FB5;
}

.find_test_link{
   font-size: 15px;
    display: inline;
    background: #16697A;
    color: white;
    margin-left: 77%;
    margin-right: 4.7px;
    padding: 0.4% 1.5%;
    border-radius: 2px;
    cursor: pointer;
}
.find_test_link:hover{
    background: #11525F;
}
a{
     text-decoration: none;
     color: white;
}

.create_test_link{
    text-decoration: none;
    font-size: 15px;
    display: inline;
    background: #16697A;
    color: white;
    margin-left: 5%;;
    padding: 0.4% 1.5%;
    border-radius: 2px;
    cursor: pointer;
}

.create_test_link:hover{
    background: #11525F;
}

.search_txt{
    font-size: 15px;
    display: inline;
    width: 59.5%;
    padding: 0.4% 1.5%;
    margin-left: 10%;
    border: none;
    border-radius: 4px;
    background: #E2F0F3;
}

input[type=submit] {
    font-size: 15px;
    background-color: #FFA62B;
    color: white;
    padding: 0.4% 2%;
    margin: 1% 0.5%;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #E08300;
}

.find_test_form{
    display: inline;
    padding-left: 5%
}

.SearchResults{
    width: 70%;
    margin-left: 15%
}

.tests_found{
    margin-top: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2.5%;
    background: #82C0CC;
}

li{
    list-style-type: none;
    background: #16697A;
    border-radius: 3px;
    padding: 1%;
    margin: 1%;
    color: white;
}

.test_links{
    text-decoration: none;
    color: white;
}

.test_body{
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
    text-align: center;
}

.date_tag{
    float: right;
}

.Question_Boby{
    padding: 2%;
    margin-bottom: 4%;
    background: #82C0CC;
    border: 1px solid #489FB5;
}

.img_answer{
    margin: 1%;
    border: 4px solid #82C0CC;
    width:  150px;
    height: 150px;
}
.img_answer:hover{
    border: 4px solid #3E79B0;
}

.Question_audio{
     width: 80%;
}

.text-button{
    border: none;
    color: white;
    margin: 1% 0.5% 1% 0.5%;
    font-size: 18px;
    padding: 1%;
    background: #489FB5;

}

.text-button:hover{
 background-color: #16697A;
}

.audio-button{
    border: none;
    color: white;
    margin: 1% 0.5% 1% 0.5%;
    font-size: 18px;
    padding: 1%;
    background: #489FB5;
}

.input_text{
    padding: 1.1%;
}

.audio-button:hover{
 background-color: #16697A;
}