body {
  counter-reset: question;
  background-color: #EDE7E3;
}


.mtext::before, .maudio::before, .mimage::before, .ftext::before {
  counter-increment: question;
  content: "Въпрос " counter(question) ": ";
}

#name {
	text-align: center;
	width: fit-content;
	margin: 0 auto;
	margin-top: 2em;
	margin-bottom: 3em;
	font-weight: bold;
}

#name input{
	width: 42.8em;
	background-color: white;
	border: 1px solid darkgray;
	font-size: 1em;
}


.mtext, .maudio, .mimage, .ftext {
	width: fit-content;
	margin:0 auto;
	margin-bottom: 1em;
	padding: 1em;
	border: 0.1em solid #489FB5;
	border-radius: 0.1em;
	vertical-align:top;
	background-color: #82C0CC;
	font-weight: bold;

}

.answers {
	margin-top: 1em;
	margin-bottom: 1em;
}

.answers textarea {
	height: 2em;
	width: 40em;
}

.remove {
	float: right;
	text-align: center;
	background-color: #16697A;
	color: white;
	border: solid 2px #16697A;
	border-radius: 0.1em;
}

.remove:hover {
	background-color: #489FB5;
	border: solid 2px #489FB5;
}

textarea {
	height: 5em;
	width: 40em;
	background-color: #E2F0F3;
	border-radius: 0.1em;
}

input {
	background-color: #E2F0F3;
	border-radius: 0.1em;
}

input[type="file"] {
	background-color: transparent;
	cursor: pointer;
}

#controls {
	text-align: center;
	margin-bottom: 1em;
}

#controls button {
	width: 29em;
	height: 2.5em;
	margin-top: 0.2em;
	text-align: center;
	background-color: #489FB5;
	color: white;
	border: none;
	font-size: 1em;
	border-radius: 0.1em;
}

#controls button:hover {
	background-color: #16697A;
}

#controls #btnSubmit {
	margin: 0 auto;
	margin-top: 1em;
	width: 20em;
	height: 2em;
	background-color: #FFA62B;
	color: white;
	border: none;
	font-size: 1em;
	border-radius: 0.1em;
}

#controls #btnSubmit:hover {
	background-color: #E08300;
}

button {
	cursor: pointer;
}

.pageHeding {
    width: 100%;
	height: 1.5em;
    padding: 1.4% 0;
    background: #489FB5;
}

.FindTest{
	text-decoration: none;
	font-size: 15px;
    display: inline-block;
    background: #16697A;
    color: white;
    margin-left: 77%;
    margin-right: 4.7px;
    padding: 0.4% 1.5%;
    border-radius: 2px;
    cursor: pointer;
}

.Homepage {
	text-decoration: none;
	font-size: 15px;
    display: inline-block;
    background: #16697A;
    color: white;
    margin-left: 5%;
    padding: 0.4% 1.5%;
    border-radius: 2px;
    cursor: pointer;
}

.FindTest:visited{
	text-decoration: none;
	color: white;
}

.Homepage:visited {
	text-decoration: none;
	color: white;
}

.FindTest:hover{
	text-decoration: none;
	color: white;
	background-color: #0F4C57;
}

.Homepage:hover {
	text-decoration: none;
	color: white;
	background-color: #0F4C57;
}